@import url('./assets/style/variables.scss');

app-bottom-bar {
	position: fixed;
	bottom: 0;
	width: 100%;
}

mat-drawer-container {
	height: calc(100vh - 112px);
}

main {
	padding: 1.2rem;
}

@media only screen and (min-width: 600px) {
	mat-drawer-container {
		height: calc(100vh - 128px);

		mat-drawer {
			width: 300px;
		}
	}
}
