/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
